pyperclip==1.9.0
pystray==0.19.5
Pillow>=10.0.0
cryptography==42.0.5
PyGithub==2.3.0
watchdog==4.0.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.2
PyQt6-sip>=13.0.0
pyqt6-fluent-widgets>=1.7.5
sqlalchemy==2.0.31
alembic==1.13.2
pyyaml==6.0.1
python-dotenv==1.0.1
apscheduler==3.10.4
loguru==0.7.2
keyring==25.2.1
pyinstaller==6.15.0
darkdetect
